/* background-color: rgb(225, 229, 247); */
body {
  background-color: rgb(253, 251, 251);
  font-family: Courier, monospace;
}

#cabecalho {
  background-color: rgb(45, 44, 46);
  padding: 2vh;
  margin-bottom: 2vh;
  position: fixed;
  top: 0;
}

#titulo {
  font-size: 6vh;
  color: aliceblue;
  margin: 1.7vh;
}

.link {
  color: aliceblue;
  font-size: 3vh;
  margin-inline: 5vh;
  text-decoration: none;
}

#minha_foto {
  height: 40vh;
  border: solid;
  float: left;
}

.artigos {
  line-height: 1.5;
  font-size: 3vh;
  float: right;
}

.artigos h2 {
  font-size: 4vh;
}

.lado-esquerdo {
  color: aliceblue;
  float: left;
  width: 50%;
  background-color: rgb(45, 44, 46);
  margin-top: 5vh;
}

.lado-esquerdo h3 {
  font-size: 3vh;
}

.lado-direito {
  color: aliceblue;
  float: right;
  width: 50%;
  background-color: rgb(45, 44, 46);
  margin-top: 5vh;
}

.lado-direito h3 {
  font-size: 3vh;
}

#licoes_aprendidas {
  color: cadetblue;
  font-weight: 700;
  font-size: 2vh;
}

#licoes_a_aprender {
  color: cadetblue;
  font-weight: 700;
  font-size: 2vh;
}

/* .licoes {
  color: cadetblue;
  font-weight: 700;
  font-size: 2vh;
} */

#rodape {
  font-size: 1.8vh;
  margin-top: 75vh;
  padding: 10px;
}
